:root {
    --the_blue_color : #186BBE;
    --the_orange_color : #BC771D;
    --the_gray_color : gray;
}


.navigation {
    position : relative;
    z-index: 100;
}

.companyLogo{
    z-index: 120;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    position: relative;
    height: 350px;
    background-image: url("/joe-holland-80zZ1s24Nag-unsplash.jpg");
    background-size: cover;
    background-position: top ;
    z-index : 100;
}

.bannerEffect {
    width: 100%;
    height: 100%;
    background-color: var(--the_blue_color);
    z-index: 100;
}

.bannerContent {
    z-index: 300;
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
}

.bannerContent div {
    padding: 0% 7%;
}
.bannerContent h1 {
    color: white;
}

.bannerContent div p {
    color: white;
}

.bannerContent div p a {
    text-decoration: none;
    color:  white;
}

.bannerContent div p a:nth-child(1):hover {
    color: #BC771D;
}

.bannerContent div p a:nth-child(2) {
    color: #BC771D;
    font-weight: 900;
}

.banner hr {
    width: 70px;
    height: 5px;
    margin: 0;
    background-color: #BC771D;
    border: none;
    margin: 10px 0;
}


.projectHeader h2 {
    padding: 20px 8%;
    color: var(--the_orange_color);
}

/*drops here*/

.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 80%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }


  @media only screen and (max-width: 512px) {


    .container {
        height: 60vh;
    }

    .box:hover { 
        flex: 1 1 70%; 
    } 

  }
   

